NODE_ENV=staging
PORT=3000

DATABASE_URL=
DATABASE_URL_TEST=
REDIS_URL=

JWT_SECRET=
JWT_REFRESH_SECRET=
SUPPORT_EMAIL=

FLUTTERWAVE_SECRET=
FLUTTERWAVE_WEBHOOK_HASH=
FX_API_KEY=
CLOUDINARY_URL=
API_BASE_URL=
WEBSITE_URL=
CONTACT_URL=
HELP_CENTER_URL=

